<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="PetrolOtomasyonDB" connectionString="Data Source=DESKTOP-JIOMUP1;Initial Catalog=PetrolOtomasyonDB;Integrated Security=True;Encrypt=False;"
   providerName="System.Data.SqlClient" />
  <add name="petroll.Properties.Settings.PetrolOtomasyonDBConnectionString"
   connectionString="Data Source=DESKTOP-JIOMUP1;Initial Catalog=PetrolOtomasyonDB;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
